{% extends "base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block title %}
    Mitopo.de - Add new Spot
{% endblock %}

{% block extra_assets %}
    {% include "leaflet_base.html" %}

    <script type="text/javascript">

        function map_init_basic(map, options) {
            map.zoomControl.setPosition("topright");

            map.options.maxZoom = 17;

            // Other Spots in the vicinity
            var spot_markers = new L.MarkerClusterGroup();
            {% for spot in spot_list %}
            var coord = L.latLng({{ spot.geom.coordinates }});
            var newcoord = L.latLng(coord.lng, coord.lat);
            var url = '{% url "edit_spot" spot_id=spot.id %}';
            var mc = new L.marker(newcoord, { url: url, });
            var popup_msg=`
                <h4> <a href='` + url + `'>{{spot.name}}</a> </h4>
                <br>
                <img src='{% static "miroutes/img/leaflet_wall_icon.png" %}' class='img-rounded' height='20'>
                {{spot.wall_set.count}}
            <br>
                <span class='glyphicon glyphicon-sort route-icon' aria-hidden='true'></span>
                {{spot.route_set.count}}`;

            mc.bindPopup(popup_msg);
            mc.on('mouseover', function (e) { this.openPopup(); });
            mc.on('click', function () {window.location.href = this.options.url;});
            spot_markers.addLayer(mc);
            {% endfor %}
            map.addLayer(spot_markers);

            var newSpot;

            if (spot_markers.getLayers().length === 0) {
                munich = new L.marker([48.137154, 11.576124]);
                map.setView(munich.getLatLng(), 10);
            } else {
                map.fitBounds(spot_markers.getBounds().pad(0.5))
            }

            map.on('click', function (e) {
                if (newSpot === undefined) {
                    newSpot = new L.marker(e.latlng, {icon: LeafletEditSpotIcon}).addTo(map);
                } else {
                    newSpot.setLatLng(e.latlng);
                }
                var geojson = {
                    "type": "Point",
                    "coordinates": L.GeoJSON.latLngToCoords(e.latlng)
                };

                document.getElementById("id_geom").value = JSON.stringify(geojson);
            });

        }

    </script>

{% endblock %}

{% block content %}
    {% leaflet_map "spotmap" callback="window.map_init_basic" %}
{% endblock %}

{% block mapobjects_info %}
    <h1>Add new Spot</h1>

    <form method="POST" action="{% url 'add_spot' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success btn-xs">
            <i class="glyphicon glyphicon-floppy-save"></i> Save
        </button>
    </form>

    <form method="GET" action="{% url 'edit_spot_index' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-xs">
            <i class="glyphicon glyphicon-backward"></i> Cancel
        </button>
    </form>

{% endblock %}
