{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Mitopo.de - Draw Routes on the Wall
{% endblock %}

{% block extra_assets %}
    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    <style>

        #route_list .ui-selecting {
            background: #FECA40;
        }

        #route_list .ui-selected {
            background: #F39814;
            color: black;
        }
        #route_list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%; }
        
        #selectable li {
            margin: 3px;
            padding: 0.4em;
            font-size: 1.0em;
            height: 18px; }


    </style>
{% endblock %}

{% block overwrite_styles %}

    <link rel="stylesheet" href={% static "edit_spot/css/main.css" %}/>

  {% endblock %}

{% load miroute_tags %}

{% block content %}
  <script>
    function map_init(mapdiv_id) {
        // Map init paperworks...
        var img_dim_string = '{{ wall.get_bg_img_size }}';
        
        var img_dim = img_dim_string.split(',', 4);
        var img_dim_x = parseFloat(img_dim[0]);
        var img_dim_y = parseFloat(img_dim[1]);
        var xzoom = parseFloat(img_dim[2]);
        var yzoom = parseFloat(img_dim[3]);

        var maxzoom = Math.max(xzoom, yzoom);

        // we choose a default zoom level of 2 that matches either the width (approx.) or the
        // height of the container
        var minzoom = 1;
        var startzoom = 1;

        // global map object
        window.map = L.map(mapdiv_id, {
            minZoom: minzoom,
            maxZoom: maxzoom,
            crs: L.CRS.Simple
        });
        map.zoomControl.setPosition("topright");

        var southWest = map.unproject([0, img_dim_y], map.getMaxZoom());
        var northEast = map.unproject([img_dim_x, 0], map.getMaxZoom());
        var imBounds = new L.LatLngBounds(southWest, northEast);
        map.setMaxBounds(imBounds);
        map.fitBounds(imBounds);

        var wall_layer = L.tileLayer('{{ wall.get_tiles_url }}/{z}/{x}/{y}.png', {
            minZoom: minzoom, maxZoom: maxzoom,
            noWrap: false,
            tileSize: 256,
            continuousWorld: true,
        });

        wall_layer.addTo(map);
        // the activeGeomId is used to denote the id of the currently edited
        // or created geometry
        window.activeGeomId = null;
        window.layerdict = {};

        // We define a empty draw control and add it to the map
        // global variable!
        window.drawControl = new L.Control.Draw({
            draw: false,
            edit: false
        });
        drawControl.setPosition("topright");
        map.addControl(drawControl);
        polylinecontrol = new L.Draw.Polyline(map, drawControl.options.polyline);

        // Now we initialize the existing route geometries
        {% if wall_routegeomlist %}
        window.layerdict = {};

        {% for geom in wall_routegeomlist %}
        {% if geom.geom %}
        // generate polylines with colors
        // note the custom filter!
        var coordarray = {{ geom|linestringgeomfilter }};
        var polyline = L.polyline(coordarray, {
            color: '{{ geom.route.polylinecolor }}',
            opacity: 1
        });
        
        addToLayerdict({{ geom.id }}, L.featureGroup([polyline]));
        // we add a label
        var myIcon = L.divIcon({
            iconSize: new L.Point(20, 20),
            html: {{ geom.label }}
        });
        var anchorpoint = {{ geom.anchorpoint }};
        // careful with reversed coordinates!
        var routelabel = L.marker([anchorpoint[1], anchorpoint[0]], {
            icon: myIcon,
        });
        routelabel.addTo(map);

        {% endif %}
        {% endfor %}

        {% endif %}

        // map event handlers
        map.on('draw:created', function (e) {
            var polyline = L.polyline(e.layer._latlngs, {
                opacity: 1,
                color: 'blue'
            });

            // we select the drawn layer and write it to the map
            var featureGroup = L.featureGroup([polyline]);
            // this also adds the line to the map
            addToLayerdict(activeGeomId, featureGroup);
            

            featureGroup.eachLayer(function (layer) {
                gj = JSON.stringify(layer.toGeoJSON().geometry);
                console.log(gj);
            });


            // now we store it to the input
            // var gj_layer = e.layer.toGeoJSON();

            // we add this layer to the lookup table
            //gj = JSON.stringify(gj_layer.geometry);
            document.getElementById("geom_inputfield_" + activeGeomId).value = gj;

                    
            // remove the draw controls
            resetDrawControl();
            activeGeomId = null;
            generate_routelist();

        });

        map.on('draw:drawstop', function (e) {
            clean_handles();
        });

        map.on('draw:editstop', function (e) {
        
            //var layer = L.geoJson(e.layers.getLayers()[0].toGeoJSON());
            //var layer = e.layers.getLayers()[0];
            //var gj = JSON.stringify(layer.feature.geometry);
            //var layers = e.layers;
            var gj = null;
            var activeLayer = layerdict[activeGeomId];

            activeLayer.eachLayer(function (layer) {
                gj = JSON.stringify(layer.toGeoJSON().geometry);
                console.log(gj);
            });


            // TODO: bad hack to find activeGeomId
            document.getElementById("geom_inputfield_" + activeGeomId).value = gj;

            // remove the draw controls
            resetDrawControl();
            // activeGeomId = null;
            generate_routelist();
        
        });

        
    }


    
    function addToLayerdict(geomid, layer) {
        // Utility function to add a pair of geomid and references
        // to the layer to a dict, add the onClick handler and the layer to the map.
        layer.routegeomid = geomid;
        layerdict[geomid] = layer;
        layer.addTo(map);
        // add event handler
        layer.on('click', on_click_polyline);
        layer.on('mouseover', function (e) {
            highlight_geometry(e.target.routegeomid);
            highlight_row(e.target.routegeomid);
        });
        layer.on('mouseout', function (e) {
            un_highlight_geometry(e.target.routegeomid);
            un_highlight_row(e.target.routegeomid);
        });

    }
    function highlight_geometry(geomid){
        layerdict[geomid].eachLayer( function (layer) {
            layer.setStyle({
                weight: 10
            });
        });

    }

    function un_highlight_geometry(geomid){
        layerdict[geomid].eachLayer( function (layer) {
            layer.setStyle({
                weight: 5
            });
        });
    }

    function highlight_row(label){
        $('#routetablerow_'+label)
            .addClass('highlight');
    }

    function un_highlight_row(label){
        $('#routetablerow_'+label)
            .removeClass('highlight');
    }

    function hide_controls (elements) {
        elements = elements.length ? elements : [elements];
        for (var index = 0; index < elements.length; index++) {
            elements[index].style.display = 'none';
        }
    }

    function resetDrawControl(newDrawControl) {
        // utility function to reset the draw controls and (in case) provide
        // new draw controls
        map.removeControl(drawControl);
        if (!(newDrawControl)) {
            var newDrawControl = new L.Control.Draw({
                draw: false,
                edit: false
            });
            drawControl = newDrawControl;
            map.addControl(drawControl);
        } else {
            // we need to overwrite the global variable
            // otherwise we successively add draw controls
            drawControl = newDrawControl;
            drawControl.setPosition("topright");
            map.addControl(drawControl);
        
            hide_controls($(".leaflet-draw-toolbar"));
        }
    }


    function clean_handles(){
        if (typeof window.edittoolbarhandle !== 'undefined'){
            try{
                window.edittoolbarhandle.disable();
            }catch (err){
                // do nothing
            }
        }
        polylinecontrol.disable();
    }

    function on_edit_route (geomid) {
    // disable polylinecontrol
        clean_handles();

        $("#edit_route_img_id_" + geomid)
            .attr('src', "{% static "edit_spot/img/save.png" %}")
            .attr('class', 'draw_route_tool_img')
            .attr('onclick', 'clean_handles()');
    

        activeGeomId = geomid;
        var activeLayer = layerdict[activeGeomId];

                        
        // Edit controls
        resetDrawControl(new L.Control.Draw({
            draw: false,
            edit: {
                featureGroup: activeLayer,
                remove: true
            }
        }));

        // in case we edit we immediately go to edit mode

        for (var toolbarId in drawControl._toolbars) {
            var toolbar = drawControl._toolbars[toolbarId];
            if (toolbar instanceof L.EditToolbar) {
                window.edittoolbarhandle = toolbar._modes.edit.handler;
                window.edittoolbarhandle.enable();
            }
        }
        // hide buttons "Save" and "Cancel". This is so dirty!
        hide_controls($(".leaflet-draw-actions"));
        
    }


    function on_click_polyline(e) {
        // when the polyline is clicked we call the edit routine
        on_edit_route(e.target.routegeomid);

    }



    function on_new_route (geomid) {
        activeGeomId = geomid;
        
        // Draw controls

        resetDrawControl(new L.Control.Draw({
            draw: {
                polyline: true,
                polygon: false,
                rectangle: false,
                circle: false,
                marker: false
            },
            edit: false
        }));
        // let us enable the polyline tool
        // but be careful to disable when we click somewhere else!
        // This includes events: editRoute, GeomSelect, newRoute
        // polylinecontrol = new L.Draw.Polyline(map, drawControl.options.polyline);
        polylinecontrol.enable();

    }

    function on_del_route (geomid) {
        activeGeomId = geomid;
        
        clean_handles();
        try{
            map.removeLayer(layerdict[activeGeomId]);
        }catch(err){
            console.log("Could not delete layer " + activeGeomId)
        }

        document.getElementById("geom_inputfield_" + activeGeomId).value = "None";
        generate_routelist()

    }

    function generate_routelist(){
        // generate a list of routes in the list with id #routelist
        // clear table
        $("#routetable tbody").remove();
        $("#routetable").append($('<tbody>'));
        {% for routegeom in wall_routegeomlist %}
        $("#routetable").find('tbody')
            .append($('<tr>')
                    .attr('value', {{ routegeom.id }})
                    .attr('id', 'routetablerow_'+{{ routegeom.id }})
                    .append($('<td>')
                            .text('{{ routegeom.label }}')
                           )
                    .append($('<td>')
                            .text('{{ routegeom.route.name }}')
                           )
                    .append($('<td>')
                            .html('<span class="glyphicon glyphicon-flash route-grade-icon"></span>{{ routegeom.route.get_grade_display }}')
                           )
                    .append($('<td>'))
                    .append($('<td>'))
                   );
                
        // Check if there is a geometry string
        var geomstring = $("#geom_inputfield_{{ routegeom.id }}").val();
        
        if(geomstring == "None"){
            $("#routetable tr:last td:nth-child(4)").append($('<img>')
                                                            .attr('src', "{% static "edit_spot/img/edit.png" %}")
                                                            .attr('class', 'draw_route_tool_img')
                                                            .attr('onclick', "on_new_route({{ routegeom.id }})")
                                                           );
        }else{
            // Note that we choose a id for the image tag
            // to find it easily in the on_edit_route func and change the img.
            $("#routetable tr:last td:nth-child(4)").append($('<img>')
                                                            .attr('id', "edit_route_img_id_{{ routegeom.id }}")
                                                            .attr('src', "{% static "edit_spot/img/edit-1.png" %}")
                                                            .attr('class', 'draw_route_tool_img')
                                                            .attr('onclick', "on_edit_route({{ routegeom.id }})")
                                                           );
            $("#routetable tr:last td:nth-child(5)").append($('<img>')
                                                            .attr('src', "{% static "edit_spot/img/garbage.png" %}")
                                                            .attr('class', 'draw_route_tool_img')
                                                            .attr('onclick', "on_del_route({{ routegeom.id }})")
                                                           );
        }
        {% endfor %}

        // eventhandler for highlighting
        $('#routetable tbody')
            .on( 'mouseenter', 'tr', function () {
                var geomid = this.getAttribute('value');
                highlight_geometry(geomid);
                highlight_row(geomid);
            });
        $('#routetable tbody')
            .on( 'mouseleave', 'tr', function () {
                var geomid = this.getAttribute('value');
                un_highlight_geometry(geomid);
                un_highlight_row(geomid);
            });


    }
    

    $(document).ready(function () {
        map_init('wallmap');
        //route_selector_setup();
        generate_routelist();

    });
  </script>
     {% include "edit_spot/edit_pane.html" %}

    <div class="row full-height">

        <div class="col-lg-9 col-lg-push-3 full-height">
            <div id="wallmap" class="full-height"></div>

            <script type="text/javascript">

              
              // The leaflet part

              function annotateGeom(layer, geomRouteName) {
                        // here we want to add popups below the route geometries with
                        // the route names as labels

                        /* var firstPoint = layer._layers._latlngs[0];
                         var lastPoint = layer._layers._latlngs[-1];

                         which one is below the other?
                         if(firstPoint[lat] < lastPoint[lat]){
                         var annotPoint = firstPoint;
                         }
                         else{
                         var annotPoint = lastPoint;
                         }

                         var popup = L.popup()
                         .setLatLng(annotPoint)
                         .setContent(geomRouteName)
                         .openOn(map);*/
              }



              </script>

        </div>
        <div class="col-lg-3 col-lg-pull-9 white-background full-height">
            Dude, You're looking at wall {{ wall.name }}
            <br><br>
            <!-- css styles for the selectable list. TODO: put tags in css files -->
            <!-- We populate the list of routes on the spot. TODO: Generate this list dynamically and sort it by wall name -->
            <a href="{% url "wall_detail" wall_id=wall.pk %}">Show live wall</a>
            <br><br>

            <div id="routelist_div">
              route list (click to edit):
              <br>
              <table id="routetable" style="width:100%">
                <thead>
                  <tr>
                    <th>pos</th>
                    <th>name</th>
                    <th>grade</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
                      
            </div>

            <!-- The form redirects to the original url. The route_chooser dif is populated by hidden input elements -->
            <form method="POST" action="{{ request.path|urlencode }}" onsubmit="clean_handles()">
                {% csrf_token %}
                
                {% for routegeom in wall_routegeomlist %}
                  <input id="geom_inputfield_{{ routegeom.id }}" type="hidden"
                         name="routegeomid_{{ routegeom.id }}"
                         value="{{ routegeom.geom }}">                
                {% endfor %}
                <input type="submit" value="speichern"/>
            </form>

            <form method="GET" action="{% url 'publish_wall' wall_id=wall.pk %}">
                {% csrf_token %}
                <input type="submit" value="publish wall">
            </form>
        </div>
    </div>


{% endblock %}

