{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  
    Mitopo.de - {{ editing|yesno:"Edit wall, Add new Wall" }} {{ wall.name }}
{% endblock %}

{% block extra_assets %}
<link rel="stylesheet" href={% static "edit_spot/css/main.css" %}/>

    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    <script type="text/javascript">

function map_init_basic(map, options) {
    map.zoomControl.setPosition("topright");

    map.options.maxZoom = 17;

    var existingwalls = {{ wall_list|geojsonfeature|safe }};
    existingwallsLayer = L.geoJson(existingwalls, {
        pointToLayer: function (feature, latlng) {
            return L.marker(latlng, {icon: LeafletWallIcon});
        }
    });

    markers = new L.MarkerClusterGroup();
    markers.addLayer(existingwallsLayer);


    {% if editing %}
    var editing_wall = {{ wall|geojsonfeature|safe }};

    editing_wall_layer = L.geoJson(editing_wall, {
        pointToLayer: function (feature, latlng) {
            newwall = L.marker(latlng, {icon: LeafletEditWallIcon});
            return newwall;
        }
    });
    markers.addLayer(editing_wall_layer);
    {% endif %}

    map.addLayer(markers);

    
    if(existingwalls.features.length === 0) {
        var editing_Spot = {{ spot|geojsonfeature|safe }};
        var edit_marker;
        editSpotLayer = L.geoJson(editing_Spot, {
            pointToLayer: function (feature, latlng) {
                edit_marker = L.marker(latlng, {icon: LeafletWallIcon});
                return edit_marker;
            }
        });
        map.setView(edit_marker.getLatLng(), 15);
    } else {
        map.fitBounds(markers.getBounds().pad(0.5))
    };

    map.on('click', function (e) {
        if (newwall === undefined) {
            newwall = new L.marker(e.latlng, {icon: LeafletEditWallIcon}).addTo(map);
        } else {
            newwall.setLatLng(e.latlng);
        }
        var geojson = {
            "type": "Point",
            "coordinates": L.GeoJSON.latLngToCoords(e.latlng)
        };

        document.getElementById("id_geom").value = JSON.stringify(geojson);
    });

}

    </script>

{% endblock %}

{% block edit_pane %}
<a href="{% url "edit_spot" spot_id=spot.pk %}">Edit Spot</a> &nbsp;
<a href="{% url "add_route" spot_id=spot.pk %}">Routepool</a>&nbsp;
<a href="{% url "edit_spot_wall_index" spot_id=spot.pk %}">Choose Wall</a>&nbsp;
{% endblock %}

{% block content %}
        {% leaflet_map "wallmap" callback="window.map_init_basic" %}
{% endblock %}

{% block mapobjects_info %}
    <h1>{{ editing|yesno:"Edit wall, Add new Wall" }} {{ wall.name }}</h1>

    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="save">
    </form>

    <form method="GET" action="{% url 'edit_spot_wall_index' spot_id=spot.pk %}">
        {% csrf_token %}
        <input type="submit" value="cancel">
    </form>

{% endblock %}
