{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Mitopo.de
{% endblock %}

{% block extra_assets %}


    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js %}
    {% leaflet_css %}


    <script type="text/javascript">
      function map_init_basic(map, options) {
          // keep a global reference to map
          // we want to override the on-click handler later
          window.map = map;
          
          map.options.maxZoom = 17;
          map.zoomControl.setPosition("topright");

          var existingSpots = {{ spot_list|geojsonfeature|safe }};

          existingSpotsLayer = L.geoJson(existingSpots, {
              pointToLayer: function (feature, latlng) {
                  return L.marker(latlng);
              }
          });
          
          map.addLayer(existingSpotsLayer);

          var editing_Spot = {{ spot|geojsonfeature|safe }};
          
          window.markers = new L.MarkerClusterGroup();

          {% for parking in parking_list %}
          {% autoescape off %}
          var icon = {{ parking.icon }};
          {% endautoescape %}
          var parking_marker = create_marker({{ parking|geojsonfeature|safe }}, icon);
          parking_marker.eachLayer( function (layer) {
              layer.options.parking_id = {{ parking.id }};
          });
          markers.addLayer(parking_marker);
          {% endfor %}
          
          map.addLayer(markers);
          
          // edit and park marker are make available globally
          edit_marker = null;
            
          editSpotLayer = L.geoJson(editing_Spot, {
              pointToLayer: function (feature, latlng) {
                  edit_marker = L.marker(latlng, {icon: LeafletEditSpotIcon});
                  return edit_marker;
              }
          });
          
          map.addLayer(editSpotLayer);
          
          if(markers){
              map.fitBounds([edit_marker.getLatLng(), markers.getBounds()])
          }else{
              map.setView(edit_marker.getLatLng(), 15);
          }

      }

      function create_marker(location, icon){
          return L.geoJson(location, {
              pointToLayer: function (feature, latlng) {
                  return L.marker(latlng, {icon: icon});
              }
          });
      }

      function toggle_locate_spot(){
            if($("#parking_locate_button").hasClass('active')){
                $("#parking_locate_button").removeClass('active');
                window.map.off('click', on_parking_location);
            }
            if($("#parking_delete_button").hasClass('active')){
                $("#parking_delete_button").removeClass('active');
                window.map.off('click', on_delete_parking_location);
            }

            if($("#spot_locate_button").hasClass('active')){
                $("#spot_locate_button").removeClass('active')
                window.map.off('click', on_spot_location);
            } else {
                $("#spot_locate_button").addClass('active')
                window.map.on('click', on_spot_location);
            }

        }
        function toggle_locate_parking(){
            if($("#spot_locate_button").hasClass('active')){
                $("#spot_locate_button").removeClass('active');
                window.map.off('click', on_spot_location);
            }
            if($("#parking_delete_button").hasClass('active')){
                $("#parking_delete_button").removeClass('active');
                window.map.off('click', on_delete_parking_location);
            }

            if($("#parking_locate_button").hasClass('active')){
                $("#parking_locate_button").removeClass('active')
                window.map.off('click', on_parking_location);
            } else {
                $("#parking_locate_button").addClass('active')
                window.map.on('click', on_parking_location);
            }
        }
        
        function toggle_delete_parking(){
            if($("#spot_locate_button").hasClass('active')){
                $("#spot_locate_button").removeClass('active');
                window.map.off('click', on_spot_location);
            }
            if($("#parking_locate_button").hasClass('active')){
                $("#parking_locate_button").removeClass('active');
                window.map.off('click', on_parking_location);
            }

            if($("#parking_delete_button").hasClass('active')){
                $("#parking_delete_button").removeClass('active')
                window.map.off('click', on_parking_delete_location);
            } else {
                $("#parking_delete_button").addClass('active');
                markers.eachLayer(function (layer){
                    layer.on('click', on_delete_parking_location);
                });
            }
        }
            
        
        function on_spot_location(e){
                window.edit_marker.setLatLng(e.latlng);
                var geojson = {
                    "type": "Point",
                    "coordinates": L.GeoJSON.latLngToCoords(e.latlng)
                };

                document.getElementById("id_geom").value = JSON.stringify(geojson);
        }
        
        function on_parking_location(e){

            console.log("Selecting parking location!") // sanity check

            // constructing url
            var urlstring = "{% url "add_parking" spot_id=spot.pk lat=9999.9999 lng=9999.8888 %}";
            urlstring = urlstring.replace('9999.9999', e.latlng.lat.toString());
            urlstring = urlstring.replace('9999.8888', e.latlng.lng.toString());

            httpPostAsync(urlstring+"?next={{ request.path }}");
            
        };

        function on_delete_parking_location(e){

            console.log("Deleting parking location!") // sanity check
            var urlstring = "{% url "delete_parking" parking_id=6666 spot_id=spot.id %}";
            urlstring = urlstring.replace('6666', this.options.parking_id);

            httpPostAsync(urlstring+"?next={{ request.path }}");            
            
        };

        function httpPostAsync(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    document.forms["edit_spot_form"].submit();
            }
            xmlHttp.open("POST", theUrl, true); // true for asynchronous 
            xmlHttp.send(null);
        }


        </script>
{% endblock %}

{% block overwrite_styles %}

    <link rel="stylesheet" href={% static "edit_spot/css/main.css" %}/>

{% endblock %}

{% block content %}
    {% include "edit_spot/edit_pane.html" %}
    <div class="row full-height">
        <div class="col-md-3 white-background full-height">
            <form id="edit_spot_form" method="POST" action="{% url "edit_spot" spot_id=spot.pk %}">
              {% csrf_token %}
              <div class="button" id="spot_locate_button" onclick="toggle_locate_spot();">
                  <img src="{% static "miroutes/img/leaflet_edit_marker_icon.png" %}" class="img-rounded" height="20">
                  Locate spot
              </div>
              <div class="button" id="parking_locate_button" onclick="toggle_locate_parking();" >
                  <img src="{% static "miroutes/img/leaflet_edit_parking_icon.png" %}" class="img-rounded" height="20">
                  Locate parking
              </div>
              <div class="button" id="parking_delete_button" onclick="toggle_delete_parking();" >
                <span class='glyphicon glyphicon-eraser' aria-hidden="true"></span>
                Delete Parking
              </div>
              <br>
              <div>
                {{ form.as_p }}
              </div>
              <input type="submit" value="save">
            </form>

            <form method="GET" action="{% url "edit_spot_index" %}">
                {% csrf_token %}
                <input type="submit" value="cancel">
            </form>
            <p>
            <form method="GET" action="{% url "add_route" spot_id=spot.pk %}">
                {% csrf_token %}
                <input type="submit" value="Add routes">
            </form>
            </p>
        </div>
        <div class="col-md-9 full-height">
            {% leaflet_map "spotmap" callback="window.map_init_basic" %}
        </div>
    </div>


{% endblock %}
