{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Mitopo.de - Relate routes to the wall
{% endblock %}

{% block extra_assets %}

    <link rel="stylesheet" href={% static "edit_spot/css/main.css" %}/>
{% endblock %}

{% block content %}

    <style>

        #wrapper_select {
            border: 1px solid black;
            background: #dddddd;
            border-radius: 10px;
            padding: 3px;
            display: table;
        }

        .select_row {
            display: table-row;
        }

        #wrapper_select ul {
            list-style-type: none;
        }

        #wrapper_select .title {
            font-size: 120%;
            font-weight: bold;
            display: table-cell;
            width: 48%;
        }

        #wrapper_select ul li {
            margin-top: 3px;
            padding: 0.4em;
            border-radius: 5px;
        }

        .left_pane li {
            background: #ffffff;
        }

        .right_pane li {
            background: rgba(110, 206, 53, 0.41);
        }

        #wrapper_select ul li.ui-selecting {
            background: #FECA40;
        }

        .left_pane, .right_pane {
            display: table-cell;
            padding: 5px;

        }

        .left_pane ul, .right_pane ul {
            max-height: 300px;
            overflow-y: auto;
        }

        .clear_float {
            clear: both;
        }

    </style>

    <script type="text/javascript">
        // This is the widget part
        $(document).ready(function () {
            function update_form() {

                // remove all entries from the list of chosen routes to re-populate
                $(".route_chooser").children().each(function () {
                    $(this).remove()
                });

                // populate list with input elements
                $("#selected_routes").children().each(function () {
                    var val = $(this).val();
                    // the value in the input elements is given by the route id
                    var text = '<input type="hidden" name="routes_onwall" value="'.concat(val).concat('" />');
                    $(".route_chooser").append(text);
                });
            };

            // the list of selected routes on the wall
            $("#selected_routes").selectable({
                // on select we pop the element from the list
                selected: function (event, ui) {
                    var s = $(ui.selected);
                    s.remove();
                    // mark it as non-selected
                    s.removeClass('ui-selected');
                    // and put it back to the list of selectable routes
                    $("#selectable").append(s);
                    // the list of hidden input elements is updated as well
                    update_form();
                }
            });

            // the list of selectable routes on the spot
            $("#selectable").selectable({
                // on select we pop the route from the list and add it to the
                // list of selected routes
                selected: function (event, ui) {
                    var s = $(ui.selected);
                    s.remove();
                    s.removeClass('ui-selected');
                    $("#selected_routes").append(s);
                    update_form();
                }
            });


            // the list of routes whose geometries are to edit
            $("#route_list").selectable({
                // on select we do something
                selected: function (event, ui) {
                    var s = $(ui.selected);
                    var geomid = s.val();
                    var geomstring = s.data('geom');
                    $("#testtext").text('Geometry '.concat(geomid).concat(' chosen. String ').concat(geomstring));

                    if (geomstring == "None") {
                        var newRouteEvent = new CustomEvent('newRouteEvent', {'detail': {'geomid': geomid}});
                        document.dispatchEvent(newRouteEvent);

                    } else {
                        var editRouteEvent = new CustomEvent('editRouteEvent', {
                            'detail': {'geomid': geomid, 'geomstring': geomstring}
                        });
                        document.dispatchEvent(editRouteEvent);
                    }
                }
            });


        });
    </script>

    <div class="row">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url "edit_spot" spot_id=spot.pk %}">Edit Spot</a> &nbsp;
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "add_route" spot_id=spot.pk %}">Routepool</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "edit_spot_wall_index" spot_id=spot.pk %}">Choose Wall</a>
            </li>
            {% if last_wall_id %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "link_routes_to_wall" wall_id=last_wall_id %}">Link Routes to Wall</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "draw_routes" wall_id=last_wall_id %}">Draw Routes on Wall</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Link Routes to Wall</a>
                </li>
            {% endif %}&nbsp;

        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br/>

            <h1>Link routes to wall "{{ wall.name }}"</h1>
            <br/>

            Click route to link or unlink
            <br/>
            <br/>

            <!-- css styles for the selectable list. TODO: put tags in css files -->
            <!-- We populate the list of routes on the spot. TODO: Generate this list dynamically and sort it by wall name -->
            <div id="wrapper_select">
                <div class="select_row">
                    <div class="title">
                        Routepool on spot "{{ spot.name }}"

                    </div>
                    <div class="title">
                        Routes linked to wall "{{ wall.name }}"
                    </div>

                </div>
                <div class="select_row">
                    <div class="left_pane">
                        <ul id="selectable">
                            {% for route in spot_routelist %}
                                <li class="ui-widget-content" name="route_onspot"
                                    value="{{ route.id }}">{{ route.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="right_pane">


                        <ul id="selected_routes">
                            <!-- This list contains the routes that are selected -->
                            {% for route in wall_routelist %}
                                <li class="ui-widget-content" name="route_selected"
                                    value="{{ route.id }}">{{ route.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <br/>

            <!-- The form redirects to the original url. The route_chooser dif is populated by hidden input elements -->
            <form method="POST" action="{{ request.path|urlencode }}">
                {% csrf_token %}
                <div class="route_chooser"></div>
                <input type="submit" value="speichern"/>
            </form>
        </div>
    </div>
{% endblock %}




{% block mapobjects_info %}

{% endblock %}
