{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Mitopo.de - Relate routes to the wall
{% endblock %}

{% block extra_assets %}
  <link rel="stylesheet" href={% static "edit_spot/css/main.css" %}/>
{% endblock %}

{% load edit_spot_tags %}

{% block content %}


  <script type="text/javascript">
    // This is the widget part
    $(document).ready(function () {
        selectable_table = $('#selectable').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false
        });
        selected_table = $('#selected').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false
        });        

        $('#selected tbody').on( 'click', 'tr', function () {
            var row = selected_table.row( $(this) );
            var rowNode = row.node();
            row.remove();
 
            selectable_table
                .row.add( rowNode )
                .draw();
        });  
        $('#selectable tbody').on( 'click', 'tr', function () {
            var row = selectable_table.row( $(this) );
            var rowNode = row.node();
            row.remove();
 
            selected_table
                .row.add( rowNode )
                .draw();
        });  
    });

    function generate_input_table(){
        // now we loop through the #selected list and use
        // the route ids to create the input list
        selected_table.column(0).data().each(function (value, index) {
            // the value in the input elements is given by the route id
            var text = '<input type="hidden" name="routes_onwall" value="'.concat(value).concat('" />');
            $(".route_chooser").append(text);
        });
    }


    </script>

<div class="row">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url "edit_spot" spot_id=spot.pk %}">Edit Spot</a> &nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "add_route" spot_id=spot.pk %}">Routepool</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "edit_spot_wall_index" spot_id=spot.pk %}">Choose Wall</a>
    </li>
    {% if last_wall_id %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url "link_routes_to_wall" wall_id=last_wall_id %}">Link Routes to Wall</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "draw_routes" wall_id=last_wall_id %}">Draw Routes on Wall</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Link Routes to Wall</a>
    </li>
  {% endif %}&nbsp;
  </ul>
</div>
<div class="row">
  <div class="col-md-12 white-background">
    <br>

    <h1>Link routes to wall "{{ wall.name }}"</h1>
    <br>

    Click route to link or unlink
    <br>
    <br>

    <!-- css styles for the selectable list. TODO: put tags in css files -->
    <!-- We populate the list of routes on the spot. TODO: Generate this list dynamically and sort it by wall name -->
    <div class="left_pane">
      <div class="title">
        Routepool on spot "{{ spot.name }}"
      </div>
    </div>
    <div class="right_pane">
      <div class="title">
        Routes linked to wall "{{ wall.name }}"
      </div>
    </div>

    <div class="left_pane">
      <table id="selectable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Grade</th>
            <th>on Walls</th>
          </tr>
        </thead>
        <tbody>
          {% for route in spot_routelist %}
            <tr>
              <td>{{ route.id }}</td>
              <td>{{ route.name }}</td>
              <td>{{ route.get_grade_display }}</td>
              <td>
                {{ active_walldict|get_item:route.id }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>                            

    </div>
    <div class="right_pane">
      <table id="selected">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Grade</th>
            <th>on Wall</th>
          </tr>
        </thead>
        <tbody>
          {% for route in wall_routelist %}
            <tr>
              <td>{{ route.id }}</td>
              <td>{{ route.name }}</td>
              <td>{{ route.get_grade_display }}</td>
              <td>
                {{ active_walldict|get_item:route.id }}
              </td>
              </tr>
        {% endfor %}
        </tbody>
      </table>                            
    </div>
  </div>
  <br>
    
  <!-- The form redirects to the original url. The route_chooser dif is populated by hidden input elements -->
  <form method="POST" action="{{ request.path|urlencode }}" onsubmit="generate_input_table()">
      {% csrf_token %}
      <div class="route_chooser"></div>
      <input type="submit" value="speichern"/>
    </form>
  </div>
</div>
{% endblock %}




{% block mapobjects_info %}

{% endblock %}
