
#edit_pane {
    width: 500px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
}


