* {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    background: #476b4c;
}

#user-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 57px;
    width: 100%;
    background: url('../../img/header2.jpg');
    background-position: right;
    border-bottom: 3px solid black;
}

.leaflet-top {
    top: 20px;
    right: 20px;
}

#logo {
    z-index: 55;
    position: absolute;
    top: 5px;
    left: 8px;
    height: 50px;
}

.leaflet-container, #wallmap {
    position: absolute;
    top: 58px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url('../../img/map_bg.jpg');
    background-repeat: repeat;
}

#footer {
    display: none;
}

/*#footer {*/
/*position: absolute;*/
/*z-index: 50;*/
/*bottom: 0;*/
/*height: 30px;*/
/*background:red;*/
/*left: 0;*/
/*right: 0;*/
/*}*/

.mapobjects-info {
    background: #ffffff;
    position: absolute;
    margin: 0 auto;
    left: 0px;
    top: 110px;
    bottom: 30px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 0px;
    min-width: 5px;
    z-index: 1000;
    border-radius: 5px;
    border: solid 1px #dddddd;
}

#toggle_content {
    color: #666666;
    position: relative;
    top: -3px;
    height: 26px;
    padding-left: 5px;
    padding-right: 5px;
    background: #ffffff;
    z-index: 99000;
    float: right;
    border-radius: 5px;
    border: solid 1px #dddddd;
}

.mapobjects-info ul {
    list-style-type: none;
}

.leaflet-control-zoom-out {
    /*display: none !important;*/
}

#content {
    width: 350px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 150px;
    background: white;
    border-radius: 5px;
    overflow-y: auto;
    display: block;
}


.mapobjects-info .inner_container {
    width: 350px;
    box-sizing: border-box;
    padding: 10px;
    background: white;
    border-radius: 5px;
    overflow-y: auto;
    display: block;
}

#search-container {
    position: absolute;
    top: 87px;
    right: 80px;
    width: 250px;
    z-index: 50;
    border-radius: 10px;
}

#search-field {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border-radius: 5px;
    font-size: 120%;
    box-sizing: border-box;
}


#breadcrumbs {
    position: absolute;
    top: 65px;
    left: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #dddddd;
}


#top_buttons {
    position: absolute;
    top: 9px;
    left: 300px;
}

#login-menu {
    position: absolute;
    top: 9px;
    right: 8px;
}

#top_buttons a, #login-menu a {
    display: inline-block;
    border-radius: 5px;
    border: solid 2px black;
    padding: 5px 12px 5px 12px;
    width: 67px;
    margin: 0;
    text-align: center;
    background: white;
    text-decoration: none;
    color: black;
}

#top_buttons a:hover, #login-menu a:hover {
    background: #c8d9cc;
}
.loginname {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 6px #000000;
}