{% extends "base.html" %}

{% block title %}
    Mitopo.de - Area Detail
{% endblock %}

{% block extra_assets %}

    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js %}
    {% leaflet_css %}

{% endblock %}

{% block content %}

    <br><br>
    You're looking at area selection {{ area.name }}

    {% if area_spot_list %}

        <script type="text/javascript">

            function map_init(map, options) {

                var markerArray = [];

                {% for spot in area_spot_list %}
                    var coord = L.latLng({{ spot.geom.coordinates }});
                    var newcoord = L.latLng(coord.lng, coord.lat);
                    var mc = new L.marker(newcoord);
                    mc.bindPopup("<a href={% url "spot_detail" spot_id=spot.id %}>{{ spot.name }}</a>");
                    markerArray.push(mc);
                {% endfor %}


                var group = L.featureGroup(markerArray);

                map.options.maxZoom = 15;
                markers = new L.MarkerClusterGroup();
                markers.addLayer(group);
                map.addLayer(markers);

                if (markerArray.length > 1) {
                    map.fitBounds(group.getBounds());
                } else {
                    map.setView(markerArray[0].getLatLng(), 12);
                }
            }
        </script>

        {% leaflet_map "spots" callback="window.map_init" %}
        {% block mapobjects_info %}


            In {{ area.name }} there are following spots:<br><br>

            {% for spot in area_spot_list %}
                <li>
                    <a href=" {% url "spot_detail" spot_id=spot.pk %} "> {{ spot.name }} {{ spot.geom.coordinates }}</a>
                </li>
            {% endfor %}
            </ul>

            <form action="{% url 'spot_add' country_id=area.country.id area_id=area.id %}">
                <input type="submit" value="Add new spot">
            </form>
        {% endblock %}
    {% else %}
        <p>Currently no spots are available in {{ area.name }}</p>
    {% endif %}

{% endblock %}
