{% extends "base.html" %}

{% block title %}
    Mitopo.de
{% endblock %}

{% block extra_assets %}

    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js %}
    {% leaflet_css %}



    <script type="text/javascript">

        function map_init(map, options) {

            map.zoomControl.setPosition("topright");
            var markerArray = [];

            {% for spot in spot_listing %}
                var coord = L.latLng({{ spot.geom.coordinates }});
                var newcoord = L.latLng(coord.lng, coord.lat);
                var mc = new L.marker(newcoord);
                mc.bindPopup("<a href={% url "spot_detail" spot_id=spot.id %}>{{spot.name}}</a>");
                markerArray.push(mc);
            {% endfor %}


            map.options.maxZoom = 15;

            var group = L.featureGroup(markerArray);
            markers = new L.MarkerClusterGroup();
            markers.addLayer(group);
            map.addLayer(markers);

            if (markerArray.length === 0) {
                munich = new L.marker([48.137154, 11.576124]);
                map.setView(munich.getLatLng(), 10);
            } else if (markerArray.length === 1) {
                map.setView(markerArray[0].getLatLng(), 10);
            } else {
                map.fitBounds(group.getBounds());
            }
        }

    </script>
{% endblock %}

{% block content %}
    {% include 'search_container.html' %}
    {% leaflet_map "spots_map" callback="window.map_init" %}
{% endblock %}

{% block infobar %}
    <div class="counters">
        <span class="glyphicon glyphicon-map-marker spot-icon" aria-hidden="true"></span>
        Spots: {{ spot_listing|length }} &nbsp;&nbsp;
        <span class="glyphicon glyphicon-tent wall-icon" aria-hidden="true"></span>
        Walls: {{ wall_listing|length }} &nbsp;&nbsp;
        <span class="glyphicon glyphicon-sort route-icon" aria-hidden="true"></span>
        Routes: {{ route_listing|length }}
    </div>
{% endblock %}
{% block mapobjects_info %}



    <a id="spots_expand" href="#spots" data-toggle="collapse"><span class="glyphicon glyphicon-map-marker spot-icon" aria-hidden="true"></span>
 Spots (click to expand)</a>
    <ul id="spots" class="collapse">
        {% for spot in spot_listing %}
            <li>
                <a class="spot_entry" href="{% url "spot_detail" spot_id=spot.pk %} ">{{ spot.name }}</a>
            </li>
        {% endfor %}
        {% if perms.miroutes.add_spot %}
            <li>
                <a id="add_spot_button" class="btn btn-default" href="{% url 'add_spot' %}"><b>Add Spot</b></a>
            </li>
        {% endif %}

    </ul>


    <br/>
    <a id="walls_expand" href="#walls" data-toggle="collapse"><span class="glyphicon glyphicon-tent wall-icon" aria-hidden="true"></span>
 Walls (click to expand)</a>

    <ul id="walls" class="collapse">
        {% for wall in wall_listing %}
            <li><a href="{% url "wall_detail" wall_id=wall.pk %}">{{ wall.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
