{% extends "base.html" %}

{% block title %}
    Mitopo.de - Route Edit
{% endblock %}

{% block mapobjects_info %}


    You're looking at route "{{ route.name }}" on spot
    <a href="{% url "spot_detail" spot_id=route.spot.id %}">{{ route.spot.name }}</a>
    <br><br>

    <form method="POST" action="{% if from %}?next={{ from }}{% endif %}">

    {% csrf_token %}

    {{ route_form.non_field_errors }}
    {{ route_form.name.errors }}
    {{ route_form.name_of_field.errors }}

    <table>
        {% for form in route_form %}
            <tr>
                <td>{{ form.label_tag }}</td>
                <td>{{ form }}</td>
            </tr>
        {% endfor %}
    </table>

    <input type="hidden" id="id_route_wall" name="route_wall" value="{{ wall.id }}">
    <br>
    <input type="submit" value="speichern"/>




{% endblock %}
