{% extends "base.html" %}

{% block content %} 
<a href="/miroutes/"> Home </a> : <a href=../../../../> {{ route.route_wall.wall_spot.spot_area.area_country.country_name }} </a> :: <a href="../../../" >{{ route.route_wall.wall_spot.spot_area.area_name }} </a> :: <a href="../../"> {{ route.route_wall.wall_spot.spot_name }} </a> :: <a href="../"> {{ route.route_wall.wall_name }} </a> :: {{ route.route_name }}
<br><br>

You're looking at route {{ route.route_name }}
<br><br>

Here could be some trivia information and more user content like ratings, picture and comments
{% endblock %} 
