{% extends "base.html" %}

{% block title %} 
  Mitopo.de - Route Edit
{% endblock %}

{% block content %} 

    <a href="/miroutes/"> Home </a> : <a href=../../../> {{ route.route_spot.spot_area.area_country.country_name }} </a> :: <a href="../../" >{{ route.route_spot.spot_area.area_name }} </a> :: <a href="../"> {{ route.route_spot.spot_name }} </a> :: <a href="../"> {{ route.route_name }} </a>
    <br><br>

    You're looking at route "{{ route.route_name }}"
    <br><br>

    <form method="POST" action="{% if from %}?next={{ from }}{% endif %}">

        {% csrf_token %}

        {{ route_form.non_field_errors }}
        {{ route_form.route_name.errors }}
        {{ route_form.name_of_field.errors }}

        {{ route_form.route_name }}
        {{ route_form.route_grade }}
        <input type="hidden" id="id_route_wall" name="route_wall" value="{{ wall.id }}">
	
        <input type="submit" value="speichern"/>
        
    </form>

{% endblock %}
