{% extends "base.html" %}

{% block title %} 
	Mitopo.de - Spot Edit
{% endblock %}

{% block extra_assets %}

    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

<script type="text/javascript">
    /*function map_init_basic (map, options) {

        var otherSpots = {{ spot_list|geojsonfeature|safe }};
        var newSpot = {{ spot|geojsonfeature|safe }}

        otherSpotsLayer = L.geoJson(otherSpots);
        otherSpotsLayer.addTo(map);

        newSpotLayer = L.geoJson(newSpot);
        newSpotLayer.addTo(map)

        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: newSpotLayer
            }
        });

        map.addControl(drawControl);

        var toolbar;
        for (var toolbarId in drawControl._toolbars) {
            toolbar = drawControl._toolbars[toolbarId];
            if (toolbar instanceof L.EditToolbar) {
                toolbar._modes.edit.handler.enable();
            }
        }

    }*/

</script>
{% endblock %} 

{% block content %}

You are editing spot {{ spot.spot_name }}

<form method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit"/>
</form>

Routes in {{ spot.spot_name }}:
<table>
  {% for route in route_list %}
    <tr>
      <td>{{ route.route_name }}</td>
      <td><a href="{% url "route_edit" route_id=route.pk %}?from={{ request.path|urlencode }}"> edit </a>
      <td><a href="{% url "route_del" route_id=route.pk %}?from={{ request.path|urlencode }}"> delete </a>
    </tr>
  {% endfor %}
</table>
<br>
<a href=route_add?from={{ request.path|urlencode }}>Add a route to the spot.</a>
{% endblock %}

