{% extends "base.html" %}
{% load staticfiles %}
{% load ratings %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block title %}
    Mitopo.de - Spot Detail
{% endblock %}

{% block extra_assets %}

    {% include "leaflet_base.html" %}

    <script type="text/javascript">

        function map_init(map, options) {
            map.zoomControl.setPosition("topright");

            var markerArray = [];

            {% for wall in spot_wall_list %}
                var coord = L.latLng({{ wall.geom.coordinates }});
                var newcoord = L.latLng(coord.lng, coord.lat);
                var mc = new L.marker(newcoord, {icon: LeafletWallIcon});
                var popup_msg=`
                        <img src='{% static "miroutes/img/leaflet_wall_icon.png" %}' class='img-rounded' height='20'>
                        <a href={% url "wall_detail" wall_id=wall.pk%}>{{ wall.name }}</a>
                        <span class='glyphicon glyphicon-sort route-icon' aria-hidden='true'></span>
                        {{wall.pub_view.route_set.count}}
                        <img src='{{ wall.thumbnail_img.url }}' class='img-rounded' width='128' height='128'>
`;
                mc.bindPopup(popup_msg, {maxWidth:132});
                mc.on('mouseover', function (e) { this.openPopup(); });
                markerArray.push(mc);
            {% endfor %}


            {% for parking in parking_list %}
            {% autoescape off %}
            var icon = {{ parking.icon }};
            {% endautoescape %}
            var parking_marker = create_marker({{ parking|geojsonfeature|safe }}, icon);
            markerArray.push(parking_marker);
            {% endfor %}

            var group = L.featureGroup(markerArray);

            map.options.maxZoom = 17;
            markers = new L.MarkerClusterGroup();
            markers.addLayer(group);

            map.addLayer(markers);
            if (markerArray.length > 1) {
                map.fitBounds(markers.getBounds());
            } else {
                map.setView(markerArray[0].getLatLng(), 15);
            }
        }

        function create_marker(location, icon){
            return L.geoJson(location, {
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng, {icon: icon});
                }
            });
        }

        </script>


{% endblock %}

{% block content %}
    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}

{% block mapobjects_info %}
    {% if spot_wall_list %}

    <h4>
        <b> {{ spot.name }} {% ratings spot %} </b>
    </h4>

    <span id="walls">
        <br>
        <table id="wallstable" width="100%">
            <thead>
              <tr>
                <th>Walls</th>
                <th>Routes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for wall in spot_wall_list %}
                <tr>
                    <td>
                        <img src="{% static "miroutes/img/leaflet_wall_icon.png" %}" class="img-rounded" height="20">
                        <a href="{% url "wall_detail" wall_id=wall.pk %}">{{ wall.name }}</a>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-sort route-icon" aria-hidden="true"></span>
                        {{wall.pub_view.route_set.count}}
                    </td>
                    <td>
                        {% ratings wall %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </span>

    {% else %}
        <p>We do not yet have any walls available in {{ spot.name }} -- maybe you could help us out?</p>
    {% endif %}


    <!-- if you are a spot manager -->
    {% if perms.miroutes.change_spot %}
    <span style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px; text-align:right">

            <a href="{% url 'edit_spot' spot_id=spot.pk %}"
                class="btn btn-info btn-xs" role="button">
                <span class="glyphicon glyphicon-pencil"></span>{{spot.name}}
            </a>
            
        </a>

        <br>
        Show Walls under construction ::
        {% if request.session.show_inactive == True %}
        <a href="{% url 'toggle_show_inactive' %}?from={{ request.path|urlencode }}">true</a>
        {% else %}
        <a href="{% url 'toggle_show_inactive' %}?from={{ request.path|urlencode }}">false</a>
        {% endif %}
        <br><br>

    </span>
    {% endif %}

{% endblock %}















