{% extends "base.html" %}

{% block title %}
    Mitopo.de - Spot Detail
{% endblock %}

{% block extra_assets %}

    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js %}
    {% leaflet_css %}

    <script type="text/javascript">

        function map_init(map, options) {
            map.zoomControl.setPosition("topright");

            var markerArray = [];

            {% for wall in spot_wall_list %}
                var coord = L.latLng({{ wall.geom.coordinates }});
                var newcoord = L.latLng(coord.lng, coord.lat);
                var mc = new L.marker(newcoord);
                mc.bindPopup("<a href={% url "wall_detail" wall_id=wall.pk%}>{{ wall.name }}</a>");
                markerArray.push(mc);
            {% endfor %}

            var group = L.featureGroup(markerArray);

            map.options.maxZoom = 15;
            markers = new L.MarkerClusterGroup();
            markers.addLayer(group);
            map.addLayer(markers);

            if (markerArray.length > 1) {
                map.fitBounds(group.getBounds());
            } else {
                map.setView(markerArray[0].getLatLng(), 12);
            }
        }
    </script>


{% endblock %}

{% block content %}
    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}

{% block mapobjects_info %}
    {% if spot_wall_list %}

        Show_inactive ::
        {% if request.session.show_inactive == True %}
            <a href="{% url 'toggle_show_inactive' %}?from={{ request.path|urlencode }}">true</a>
        {% else %}
            <a href="{% url 'toggle_show_inactive' %}?from={{ request.path|urlencode }}">false</a>
        {% endif %}
        <br><br>

        You're looking at spot {{ spot.name }}.
        <!-- if you are a spot manager -->

        <br><br>


        In {{ spot.name }} there are following walls:<br><br>

        <ul>
            {% for wall in spot_wall_list %}
                <li><a href="{% url "wall_detail" wall_id=wall.pk %}"> {{ wall.name }}
                    :: {{ wall.geom.coordinates }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Currently no walls are available in {{ spot.name }}</p>
    {% endif %}

    {% if perms.miroutes.change_spot %}
    <a class="btn btn-default" href="{% url 'edit_spot' spot_id=spot.id %}">Edit Spot</a>
    {% endif %}

{% endblock %}















