{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Mitopo.de - Spot Edit
{% endblock %}

{% block extra_assets %}

    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    <script type="text/javascript">
        function map_init_basic(map, options) {

            var existingSpots = {{ spot_list|geojsonfeature|safe }};
            var newSpot;


            existingWallsLayer = L.geoJson(existingSpots, {
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng);
                }
            });

            map.options.maxZoom = 15;

            markers = new L.MarkerClusterGroup();
            markers.addLayer(existingWallsLayer);
            map.addLayer(markers);

            map.on('click', function (e) {
                if (newSpot === undefined) {
                    newSpot = new L.marker(e.latlng).addTo(map);
                } else {
                    newSpot.setLatLng(e.latlng);
                }
                var geojson = {
                    "type": "Point",
                    "coordinates": L.GeoJSON.latLngToCoords(e.latlng)

                };

                document.getElementById("id_geom").value = JSON.stringify(geojson);
            });

            map.fitBounds(markers.getBounds().pad(0.5))

        }

    </script>
{% endblock %}

{% block content %}


    {% leaflet_map "spotmap" callback="window.map_init_basic" %}


{% endblock %}

{% block mapobjects_info %}
    <h1>Spot add</h1>
    <a href="/miroutes/"> Home </a> : <a href=../../> {{ spot.area.country.name }} </a> ::
    <a href="../">{{ spot.area.name }} </a> :: {{ spot.name }}

    <form method="POST" action="{% url 'spot_add' country_id=area.country.id area_id=area.id %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="save">
    </form>

    <form method="GET" action="{% url 'spot_add' country_id=area.country.id area_id=area.id %}">
        {% csrf_token %}
        <input type="submit" value="cancel">
    </form>

{% endblock %}