{% extends "base.html" %}

{% block title %}
    Mitopo.de - Wall page
{% endblock %}

{% block extra_assets %}

    {% load leaflet_tags %}
    {% load geojson_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
    <script>
        window.onload = function () {
            map_init();
        }
    </script>


    <div id="wallmap"></div>

    <script type="text/javascript">

        function map_init() {

            var img_dim_string = '{{ wall.get_bg_img_size }}';

            var img_dim = img_dim_string.split(',', 4);
            var img_dim_x = parseFloat(img_dim[0]);
            var img_dim_y = parseFloat(img_dim[1]);
            var xzoom = parseFloat(img_dim[2]);
            var yzoom = parseFloat(img_dim[3]);

            var maxzoom = Math.max(xzoom, yzoom);

            // we choose a default zoom level of 2 that matches either the width (approx.) or the
            // height of the container
            var minzoom = 2;
            var startzoom = 4;

            var aspectRatio = img_dim_x / img_dim_y;
            {#            if (aspectRatio < 1) {#}
            {#                // we resize the container to fit an image with aspectRatio < 1#}
            {#                // the height is then fixed to 1024px#}
            {#                var wall_width = 1024 * aspectRatio;#}
            {#                // document.getElementById('wallmap').setAttribute("style","display:block;width:500px");#}
            {#                document.getElementById('wallmap').style.width = wall_width + "px";#}
            {#                document.getElementById('wallmap').style.height = 1024 + "px";#}
            {#            }#}

            var map = L.map('wallmap', {
                minZoom: minzoom,
                maxZoom: maxzoom,
                crs: L.CRS.Simple
            });
            map.zoomControl.setPosition("topright");

            var southWest = map.unproject([0, img_dim_y], map.getMaxZoom());
            var northEast = map.unproject([img_dim_x, 0], map.getMaxZoom());
            map.setMaxBounds(new L.LatLngBounds(southWest, northEast));

            var wall_layer = L.tileLayer('{{ wall.get_tiles_url }}/{z}/{x}/{y}.png', {
                minZoom: 1, maxZoom: maxzoom,
                noWrap: false,
                tileSize: 256,
                continuousWorld: true,
            });

            wall_layer.addTo(map);

            var center_x = img_dim_x / 2;
            var center_y = img_dim_y / 2;
            var center_point = map.unproject([center_x, center_y], minzoom + 1);

            map.setView(center_point, minzoom + 1);

            // If there is a route list we add it to the map
            {% if wall_route_geom_list %}
                var collection = {{ wall_route_geom_list|geojsonfeature|safe }};
                layer = L.geoJson(collection);
                layer.addTo(map);
                map.fitBounds(layer.getBounds().pad(0.5))
            {% endif %}
        }
    </script>
    <br>
    <br>
    <br>

{% endblock %}

{% block mapobjects_info %}
    You're looking at wall {{ wall.name }}.
    <br/>
    {% if wallview.is_dev %}
        <a href="{% url "wall_detail" wall_id=wall.id %}">Show live wall view</a>
        <br />
        <!-- if you are the owner or a manager -->
        <a href={% url "link_routes_to_wall" wall_id=wall.id %}>Edit {{ wall.name }}</a>
    {% else %}
        <a href="{% url "wall_detail_dev" wall_id=wall.id %}">Show dev wall view</a>
    {% endif %}



    <br><br>
    wall.wall_image.get_bg_img_size :: {{ wall.get_bg_img_size }}

    <br><br>

    {% if wall_route_geom_list %}
        In {{ wall.name }} there are following routes:
        <br>
        <br>

        <table width="100%">

            {% for routegeom in wall_route_geom_list %}
                <tr>
                    <td>
                        <a href="{% url "route_detail" route_id=routegeom.route.pk %}"> {{ routegeom.route.name }}</a>
                    </td>
                    <td>
                        {{ routegeom.route.grade }}
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>Currently no routes are available in {{ wall.name }}</p>
    {% endif %}

{% endblock %}




