<!DOCTYPE html>
<html>

{% load static %}

<head>
        <title>	

{% block title %} 
        Mei Topo - Topos for everyone 
{% endblock %}

        </title>


{% block main-css %}
        <link rel="stylesheet" href={% static "miroutes/css/main2.css" %} />
{% endblock %}

{% block jquery_import %}
    <script type="text/javascript" src={% static "miroutes/js/jquery-2.2.2.js" %}></script>
    <script type="text/javascript" src={% static "miroutes/js/jquery-ui-1.12.0-rc.1.custom/jquery-ui.js" %}></script>
{% endblock %}

{% block extra_assets %}
{% endblock %}

</head>

<body>
<div id="contentcontainer">

{% block header %}

<div id="header">
        <img id="headerimg" src="{% static "miroutes/img/header.jpg"     %}" width="1000px"></img>
</div>

<div id="user_menu">
    {% if user.is_anonymous %}
            <a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">Login</a>
            /
            <a href="{% url 'users.views.register' %}">Register</a>
    {% else %}
            User   : <b>{{ user }}</b>  
            (<a href="{% url 'django.contrib.auth.views.logout'%}?next={{request.path}}">logout</a>) 
            &nbsp;&nbsp; Email  : {{user.email}} </br>
    {% endif %}
</div>
<div id="messages">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endblock %}


	    <div id="content">
		    {% block content %}Default template content -- there is nothing to see here...{% endblock %}
	    </div>


    </div>

    </body>
</html>
