{% if route %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/miroutes">Home</a></li>
        <li class="breadcrumb-item"><a href=" {% url "spot_detail" spot_id=route.spot.pk %} "> {{ route.spot.name }}</a>
        </li>
        <li class="breadcrumb-item active"><a href=" {% url "route_detail" route_id=route.pk %} "> {{ route.name }}</a>
        </li>
    </ul>

{% elif wall %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/miroutes">Home</a></li>
        <li class="breadcrumb-item"><a href=" {% url "spot_detail" spot_id=wall.spot.pk %} "> {{ wall.spot.name }}</a>
        </li>
        <li class="breadcrumb-item active"><a href=" {% url "wall_detail" wall_id=wall.pk %} "> {{ wall.name }}</a></li>
    </ul>


{% elif spot %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/miroutes">Home</a></li>
        <li class="breadcrumb-item active"><a href=" {% url "spot_detail" spot.pk %} "> {{ spot.name }}</a></li>
    </ul>

{% else %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/miroutes">Home</a></li>
    </ul>

{% endif %}
