<div id="search-container">


    <select id="search-field" multiple="multiple">
    </select>
    <script type="text/javascript">

        function formatRepo(repo) {
            return repo.name;
        }

        function formatRepoSelection(repo) {
            return repo.name;
        }

        $search_field = $('#search-field')
        $search_field.select2({
            placeholder: 'search ...',
            debug: true,
            ajax: {
                url: "http://{{ request.get_host }}/miroutes/search/",
                dataType: 'json',
                quietMillis: 100,
                minimumInputLength: 1,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                results: function (data) {
                    console.log(data);
                    return {
                        results: data.items
                    };
                }
            }, //ajax
            templateResult: formatState
        });

        function formatState (state) {
              if (!state.icon) { return state.text; }
                var $state = $(
                            '<span>' + state.icon + state.text + '</span>'
                              );
                  return $state;
        };

        $search_field.on("select2:select", function (entry) {
            location.href = entry.params.data.url
        });
        $('#search-field').focus();
    </script>

</div>
